@import "~office-ui-fabric-react/dist/sass/variables/_Color.Variables.scss";
@import "~office-ui-fabric-react/dist/sass/mixins/_Font.Mixins.scss";
@import "~office-ui-fabric-react/dist/sass/variables/_Font.Variables.scss";


.cruise-summary-container {

  .me-booking-summary-mini-container {
    display: -webkit-flex;
    display: flex;
    padding-bottom: 10px;
    .me-booking-summary-mini-container-for-travel {
      width: 25%;
    }
    .me-booking-summary-mini-container-for-booking {
      width: 25%;
    }
    .me-booking-summary-mini-container-for-cruise {
      width: 25%;
    }
    .me-booking-summary-mini-container-for-cruise-extended {
      width: 25%;
    }
    .me-booking-summary-clear-style{
      clear: left;
    }
  }

}