.historical-pnr-item-summary-dialog {
    .ms-Dialog-main {
        min-width: 800px;
    }
}
.historical-pnr-item-details-body {
    .details-item {
        height: 230px;
    }
    .load-spinner {
        padding:8px;
    }
}
