.purchase-info {

  .load-spinner {
    padding: 8px;
  }

  .purchase-info-ribbon {
    background-color: #2b88d8;
  }

  .me-purchase-info {
    padding-left: 20px;
    padding-top: 5px;
    font-size: 12px;
    overflow-y: hidden !important;
  }
}