.moment-field {

    .moment-field-text-field {
        position: relative;

        .moment-field-input-icon {
            position: absolute;
            right: 8px;
            bottom: 0px;
            line-height: 30px;
            pointer-events: none;
        }

    }
}