@import "~office-ui-fabric-react/dist/sass/variables/_Color.Variables.scss";
@import "~office-ui-fabric-react/dist/sass/mixins/_Font.Mixins.scss";
@import "~office-ui-fabric-react/dist/sass/variables/_Font.Variables.scss";

.master-entity-search-result-summary {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;

    @include ms-font-s();

    .definition-list {
        padding-left: 8px;
        padding-right: 8px;
    }
    
}