
@import "~office-ui-fabric-react/dist/sass/variables/_Color.Variables.scss";
@import "~office-ui-fabric-react/dist/sass/variables/_Font.Variables.scss";

.master-entity-summary {
    .master-entity-title {
        padding: 4px 8px;
        font-weight: $ms-font-weight-semibold;
    }

    .entity-attributes {
        display: block;

        .entity-attribute {
            flex-wrap: wrap;
        }
    }
}

.master-entity-history-dialog {
    .ms-Dialog-main {
        min-width: 800px;
        max-width: 1600px;
    }
}
.master-entity-history-body {
    .details-item {
        height: 120px;
    }
}
