@import "~office-ui-fabric-react/dist/sass/variables/_Color.Variables.scss";
@import "~office-ui-fabric-react/dist/sass/mixins/_Font.Mixins.scss";
@import "~office-ui-fabric-react/dist/sass/variables/_Font.Variables.scss";

.cruise-booking {
    font-weight: 600;
    .ms-DetailsRow-fields {
      color: black !important;
       border-bottom: 1px solid #eaeaea;
    }
  .ms-List-cell {
    min-height: 20px;
  }
  .ms-DetailsList--Compact {
    min-height: 20px;
  }
  .ms-DetailsList .ms-DetailsRow .ms-DetailsRow-cell {
    padding: 0px;
  }
  .ms-DetailsList--Compact {
    min-height: 20px;
  }
  .ms-DetailsList {
    .ms-DetailsHeader {
      .ms-DetailsHeader-cell {
        background-color: #C8C8C8!important;
        color: black!important;
        font-weight: 600!important;
      }
    }
  }

  .ms-DetailsRow {
    min-height: 20px !important;
    .ms-DetailsRow-fields {
      color: black !important;
      border-bottom: 1px solid #eaeaea;
      min-height: 20px !important;
      .ms-DetailsRow-cell {
        min-height: 20px !important;
      }
    }
  }


}