.me-header {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    background-color: black;
    padding: 10px;
    color: white;
    font-weight: 700;

    .header-security-classification {
        letter-spacing: 3px;
        color: red;
        font-weight: bold;
    }
    .header-refresh {
        color: white!important;
    }
}
