@import "~common/component/CommonMixins.scss";

.me-portal {
    overflow: hidden;
    @include fill();
    
    .me-portal-frame {
        border: none;
    }
}

.layout-flow {
    .me-portal {
        position: relative;
        height: 80vh;
    }
}