@import "~office-ui-fabric-react/dist/sass/variables/_Color.Variables.scss";
@import "~office-ui-fabric-react/dist/sass/mixins/_Font.Mixins.scss";
@import "~office-ui-fabric-react/dist/sass/variables/_Font.Variables.scss";

.view-prefs-menu-button {
  &.has-prefs {
    i.ms-Button-icon {
      color: $ms-color-orange
    }
  }
}

.view-prefs-menu-item {
  min-height: 24px;
  padding: 0 3px 0 3px;

  label {
    margin-top: 0px;
  }
}
