.me-itinerary-info-details {

    .me-itinerary-info-ribbon {
        background-color: #2b88d8  ;
    }
    .load-spinner {
        padding: 8px;
    }

    .me-itinerary-info {
        padding-left: 20px;
        font-size: 12px;
    }
}
