@import "~office-ui-fabric-react/dist/sass/variables/_Color.Variables.scss";
@import "~office-ui-fabric-react/dist/sass/mixins/_Font.Mixins.scss";
@import "~office-ui-fabric-react/dist/sass/variables/_Font.Variables.scss";

.client-risk-overview-summary {
    padding: 8px 6px;
    .client-name {
        font-weight: $ms-font-weight-semibold;
    }
    .client-id {
        @include ms-font-s();
        padding-top: 4px;
        .client-id-label {
            font-weight: $ms-font-weight-semibold;
        }
        .client-id-value {
            padding-left: 8px;
        }
    }
}
